 <div class="fieldWrapper">
                       <label class="align-field" for="name"> Business Name: </label>
                           <input id="name" type="text" name="name" >
                                     </div>
                                     
                                     <div class="fieldWrapper">
                   <label class="align-field" for="approval_date"> Approval Date: </label>
                         <input id="approval_date" type="text" name="name" >
                                     </div>
                                     
                                      <div class="fieldWrapper">
           <label class="align-field" for="principal_address">Principal Address : </label>
                   <input id="principal_address" type="text" name="principal_address" >
                                     </div>
                                     
                                     <div class="fieldWrapper">
               <label class="align-field" for="postal_address">Postal Address : </label>
                        <input id="postal_address" type="text" name="postal_address" >
                                     </div>
                                     
                                     
                                     
                                     <div class="fieldWrapper">
                 <label class="align-field" for="passport_photo">Passport Photo : </label>
                               <div class="align-field btn btn-primary ">
              <input  id="passport_photo" type="file" name="passport_photo" >
                                     </div>
                                     </div>
                                     
                                     <div class="fieldWrapper">
                   <label class="align-field" for="id_scan"> National I.D : </label>
                            <div class="align-field btn btn-primary ">
                         <input id="id_scan" type="file" name="id_scan" >
                                     </div>
                                    </div>
                                     
                                     <div class="fieldWrapper">
              <label class="align-field" for="kra_pin_scan"> KRA PIN Certificate : </label>
                           <div class="align-field btn btn-primary ">
                    <input id="kra_pin_scan" type="file" name="kra_pin_scan" >
                                     </div>
                                    </div>
