                         {% extends "desktop_core.html" %}
                      
                              {% block nav %}
                           <div class="nav center">
               
                   <ul>
	
	          <li><a href="{% url 'search' %}">Home</a></li>
	    <li class="current"><a href="{% url 'registration' %}"> Registration</a> </li>
	                <li><a href="{% url 'faqs' %}">FAQs</a></li>
	
	
                     </ul>
                  </div>
                               {% endblock %}
                               
                             {% block content %}
                 <div class="simple-title"> Confirm Reservation Details </div>
                 
                
                  <div class="narrow-section  spaced paragraph">
    
              <form   action="." method="post" >{% csrf_token %}

                         <div class="required align-center">
                         {{ form.non_field_errors }}
                            </div>
                           
                              <fieldset>

                       {% include "reservation_base.html" %}


           <input type="submit" name="submit" value="Submit" id="submit" />
                               </fieldset>
                       </form>
                   </div>
                         
                                {% endblock %}
