<!DOCTYPE html>

<html class="no-js" lang="en" manifest="/static/media/site_media/manifest.appcache">

<head> 

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{{MEDIA_URL}}site_media/img/favicon.ico">
 
                         <title>Huduma Center</title>
      
                         
    <meta name="description" content="Huduma Center Services at your convenience...">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="huduma center,huduma,GoK,Kenyan">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Huduma Center Services at your convenience...">



<link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="{{MEDIA_URL}}site_media/css/support-styles.css">
<link rel="stylesheet" href="{{MEDIA_URL}}site_media/css/menu.css">
<link rel="stylesheet" href="{{MEDIA_URL}}site_media/css/grid-min.css">







<!--- end styles --->
</head>

<body>
        
                  {% block header %}
         <div id="menu" class="logo blacks"> Huduma Center Online </div>

 
                   {% endblock %}
                   
                   
                   {% block nav %}{% endblock %}
   
       
                   {% block notifications %} {% endblock %}


                   {% block content %} {% endblock %}
                   {% block content1 %} {% endblock %}
                   
                   {% block content2 %} {% endblock %}
                   
                   {% block content3 %} {% endblock %}
                   
                   {% block content4 %} {% endblock %}
                   
                   {% block content5 %} {% endblock %}
                   
                   {% block content6 %} {% endblock %}
                   
                   {% block content7 %} {% endblock %}
                   
                   {% block content8 %} {% endblock %}
                   
                   {% block content9 %} {% endblock %}
                   
                   {% block content10 %} {% endblock %}
                   
                       </div>
                         
                   {% block footer %}{% endblock %}
               

{% block js %}
<!-- Le javascript
    ================================================== -->
    
<!-- Placed at the end of the document so the pages load faster -->

<!--- end comment --->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
</script>   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>    
 {% endblock %}      


    </body>
</html>
