                          
                        <div class="fieldWrapper">
      <span class="required align-center">{{ form.name.errors }}</span>
                         {{ form.name}} 
                               </div>
                               
                         <div class="fieldWrapper">
      <span class="required align-center">{{ form.approval_date.errors }}</span>
                         {{ form.business_nature}} 
                               </div>
                               
                               
                           <div class="fieldWrapper">
      <span class="required align-center">{{ form.principal_address.errors }}</span>
                         {{ form.principal_address}} 
                               </div>
                               
                         <div class="fieldWrapper">
      <span class="required align-center">{{ form.postal_address.errors }}</span>
                         {{ form.postal_address}} 
                               </div>
                               
                               
                          <div class="fieldWrapper">
      <span class="required align-center">{{ form.passport_photo.errors }}</span>
                         {{ form.passport_photo}} 
                               </div>
                               
                         <div class="fieldWrapper">
      <span class="required align-center">{{ form.id_scan.errors }}</span>
                         {{ form.id_scan}} 
                               </div>
                               
                          <div class="fieldWrapper">
      <span class="required align-center">{{ form.kra_pin_scan.errors }}</span>
                         {{ form.kra_pin_scan}} 
                               </div>
