
                        <div class="fieldWrapper">
      <span class="required align-center">{{ form.name.errors }}</span>
                         {{ form.name}} 
                               </div>
                               
                         <div class="fieldWrapper">
      <span class="required align-center">{{ form.phone_number.errors }}</span>
                         {{ form.phone_number}} 
                               </div>
                               
                               
                           <div class="fieldWrapper">
      <span class="required align-center">{{ form.id_number.errors }}</span>
                         {{ form.id_number}} 
                               </div>
                               
                         
